footer{
    background: var(--footer-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}
.flex{
    display: flex;
    align-items: baseline;
}
.reset-margin{
    margin: 0;
}
@import "../utils/footer/footer__logo";
@import "../utils/footer/footer__social--connect";
